* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
} 

html {
  scroll-behavior: smooth;
}

/* List-style & Text-decoration */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #101010;
}

/* Header */

.header{
  border-bottom: 1px solid #E2E8F0;
  justify-content: center;
  display: flex;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
    width: 100vw;
}
  
  .nav-menu {
    display: none;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
  
  .nav-menu-web {
      display: flex;
      justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
  
  
  .nav-link{
    font-size: 1rem;
    font-weight: 400;
    color: #101010;
  }
  
  .nav-link:hover{
    color: #d0a465;
    transition: .25s;
  }

/* Logo, Sign-in, Hamburger */
  
  .nav-logo {
    font-size: 2.1rem;
    font-weight: 800;
    color: #226160;
  }

  .nav-logo:hover {
    color: #d0a465;
    transition: .25s;
  }
  
  .sign-in {
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

.hamburger {
  display: none;
}


/* Image Gallery */

.gallery {
  display: flex;
  justify-content: center;
}

.gallery-container {
  display: flex;
  max-width: 1300px;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  
  .footer-bar {
    width: 100%;
    max-width: 1300px;
    height: 1px;
    background: #ddd;
  }
  
  .footer-nav-web {
    width: 90%;
    max-width: 1160px;
  }
  
  footer ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 1160px;
  }
  
  footer ul li {
    font-size: 1rem;
    font-weight: 300;
  }
  
  footer ul li a:hover {
    color: #226160;
  }
  
  .do-not-sell {
    color: #226160;
    font-weight: 500
  }
  
  .footer-paragraph {
    text-align: center;
    width: 90%;
    max-width: 1000px;
    font-weight: 300;
    font-size: .85rem;
    line-height: 1.5rem;
  }
  
  .footer-paragraph a {
    text-decoration: underline;
  }
  
  .copywright {
    margin-top: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    background: #226160;
    color: white;
    font-size: .75rem;
  }
  
  .copywright p a {
    color: white;
    text-decoration: underline;
  }
  
  .parent-footer-nav-mobile {
    display: none;
  }



  @media only screen and (min-width: 1300px) {

    /* Navbar */

    .navbar {
        width: 1300px;
    }

}

@media only screen and (max-width: 1310px) {

  .navbar {
    border-right: 1rem solid white;
    border-left: 1rem solid white;
  }


}


@media only screen and (max-width: 889px) {
  
    /* Header */

  .header {
    display: block;
  }

  /* Navbar */

  .navbar {
    padding: 1rem 1.5rem;
    width: 100vw;
    border-right: none;
    border-left: none;
  }

  .nav-menu-web {
    display: none;
  }


  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      display: flex;
      justify-content: space-between; 
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      /* border-radius: 10px; */
      transition: 0.3s;
      gap: 0;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
    margin: 0;
    padding: 20px 0px 20px 20px;
      border-bottom: 1px solid #ddd;
      width: 100vw;
  }

  .sign-in {
    display: block;
    color: #101010;
    font-weight: 600;
  }

/* Hamburger */

  .hamburger {
      display: block;
      cursor: pointer;
      order: -1;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}

@media only screen and (max-width: 460px) {

    /* Footer */
  
    .footer-nav-web {
      display: none;
    }
  
    .parent-footer-nav-mobile {
      display: flex;
      width: 80%;
      justify-content: center;
      gap: 2rem;
    }
  
    .footer-nav-mobile {
      width: 150px;
    }
  
    .footer-nav-mobile ul {
      display: flex;
      flex-direction: column;
      text-align: start;
    }
  
    .footer-nav-mobile ul li {
      font-size: .95rem;
    }
  
  }